In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
a = pd.read_csv('/hdd/Correlation_Disance/chr02_distance_flag_01.csv', sep=',')

In [3]:
b = pd.read_csv('/hdd/Correlation_Disance/chr02_distance_flag_02.csv', sep=',')

In [4]:
c = pd.read_csv('/hdd/Correlation_Disance/chr02_distance_flag_03.csv', sep=',')

In [5]:
e = a.append(b).append(c)

In [6]:
e.head()

   Unnamed: 0          from            to  distance flag
0           0  LOC105373324  LOC101927262   95565.0   TT
1           0  LOC105373324  LOC105373350  125600.0   TT
2           0  LOC105373324  LOC105373351  176990.0   TT
3           0  LOC105373324  LOC100996637  304193.0   TT
4           0  LOC105373324  LOC101927362  355260.0   TT

In [8]:
e = e.drop(['Unnamed: 0'], axis = 1)

In [9]:
e.to_csv('/hdd/Correlation_Disance/chr02_distance_flag.csv', header = True, index = False)