In [2]:
import pandas as pd
import numpy as np

# illuminahiseq & illuminaga 데이터 불러오기
a = illuminahiseq
b = illuminaga

In [4]:
a = pd.read_table('/hdd/Correlation_Disance/mRNAseq_colon_cancer/illuminahiseq_Level_3__RSEM_genes_normalized__data.Level_3.2016012800.0.0/COAD.rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.data.txt')

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
b = pd.read_table("/hdd/Correlation_Disance/mRNAseq_colon_cancer/illuminaga_Level_3_RSEM_genes_normalized_data.2016012800.0.0/COAD.rnaseqv2__illuminaga_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.data.txt")

# 행렬 치환

In [5]:
c = a.transpose()

# 행렬 치환 후, 첫 행을 컬럼명으로 삽입

## 첫 행을 컬럼명으로 삽입 후, 실제 첫 행을 삭제

In [6]:
c.columns = c.iloc[0]

In [7]:
c = c.drop(c.columns[[0]], axis = 1)

# 인덱스 열을 삭제하고 초기화

In [9]:
c.reset_index(drop = True, inplace = True)

In [10]:
c.head()

Hybridization REF,?|100130426,?|100133144,?|100134869,?|10357,?|10431,?|136542,?|155060,?|26823,?|280660,?|317712,...,ZXDA|7789,ZXDB|158586,ZXDC|79364,ZYG11A|440590,ZYG11B|79699,ZYX|7791,ZZEF1|23140,ZZZ3|26009,psiTPTE22|387590,tAKR|389932
0,?|100130426,?|100133144,?|100134869,?|10357,?|10431,?|136542,?|155060,?|26823,?|280660,?|317712,...,ZXDA|7789,ZXDB|158586,ZXDC|79364,ZYG11A|440590,ZYG11B|79699,ZYX|7791,ZZEF1|23140,ZZZ3|26009,psiTPTE22|387590,tAKR|389932
1,0.5174,18.0851,15.7640,144.4004,774.6615,0.0000,441.9729,1.9342,0.0000,0.0000,...,71.0832,461.315,1105.42,3.3849,543.037,6259.19,1358.32,798.356,13.0561,0
2,0.0000,4.4315,4.2767,142.6609,1185.2927,0.0000,522.0126,0.4838,0.0000,0.0000,...,39.671,366.715,1149.49,0.4838,290.76,4653.12,1220.13,333.817,1.9352,0.9676
3,0.0000,9.8995,11.3032,143.1987,888.3202,0.0000,288.0643,2.9245,0.0000,0.0000,...,31.4385,349.479,1083.53,0,669.713,4460.61,3002.01,530.068,2.1934,0
4,0.0000,7.9174,18.7608,146.1876,1280.5508,0.0000,379.5181,2.1515,0.0000,0.0000,...,54.6472,542.169,1374.35,0.4303,445.353,4190.19,1093.37,574.441,6.4544,0.4303

In [11]:
c = c.drop([0])

# 알 수 없는 컬럼 제거

In [12]:
test = [col for col in c if col.startswith('?')]

In [13]:
test2 = c

In [14]:
for i in test :
    test2 = test2.drop([i], axis = 1)

In [15]:
cor_matrix = test2.corr()

Empty DataFrame
Columns: []
Index: []

# 히트맵 source_code

In [ ]:
def correlation_matrix(df):
    from matplotlib import pyplot as plt
    from matplotlib import cm as cm

    fig = plt.figure()
    ax1 = fig.add_subplot(111)
    cmap = cm.get_cmap('jet', 30)
    cax = ax1.imshow(df.corr(), interpolation="nearest", cmap=cmap)
    ax1.grid(True)
    plt.title('Abalone Feature Correlation')
    labels=['Sex','Length','Diam','Height','Whole','Shucked','Viscera','Shell','Rings',]
    ax1.set_xticklabels(labels,fontsize=6)
    ax1.set_yticklabels(labels,fontsize=6)
    # Add colorbar, make sure to specify tick locations to match desired ticklabels
    fig.colorbar(cax, ticks=[.75,.8,.85,.90,.95,1])
    plt.show()

In [ ]:
correlation_matrix(df)

# 거리간 상관관계 데이터 작성

## 상관관계 데이터는 R에서 작성함(Distance_Analysis_ver1.R 파일 참조할 것)

In [5]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import multiprocessing as mp

In [3]:
a = pd.read_table("/hdd/Correlation_Disance/chr07_distance_flag.csv", sep = ',')

In [4]:
x = pd.read_table("/hdd/Correlation_Disance/corr_stack.csv", sep = ',')

In [6]:
x = pd.DataFrame(x)

In [7]:
x.columns = ['from', 'to', 'corr']

In [8]:
x.head()

   from     to      corr
0  A1BG   A1BG  1.000000
1  A1BG   A1CF  0.036835
2  A1BG  A2BP1  0.289180
3  A1BG  A2LD1  0.021131
4  A1BG  A2ML1 -0.012454

In [9]:
new_df = dd.merge(a, x, how = 'inner', on = ['from', 'to'])

In [10]:
new_df.head()

    from      to  distance flag      corr
0  PDGFA  FAM20C  236492.0   HH  0.306690
1  PDGFA    SUN1  294888.0   TT  0.327163
2  PDGFA    GET4  355885.0   TT  0.239131
3  PDGFA  CYP2W1  462488.0   TT  0.075471
4  PDGFA  GPR146  523904.0   TT  0.141547

In [11]:
new_df['flag'] = new_df['flag'].astype('str')
new_df['from'] = new_df['from'].astype('str')
new_df['to'] = new_df['to'].astype('str')

In [12]:
new_df.count()

from        174264
to          174264
distance    174264
flag        174264
corr        174264
dtype: int64

In [13]:
new_df['flag'].unique()

array(['HH', 'TT', 'HH_fold', 'minus_in_plus', 'TT_touch'], dtype=object)

In [14]:
new_df[new_df['distance'] < 0].count()

from        76
to          76
distance    76
flag        76
corr        76
dtype: int64

In [24]:
fold_df = new_df[new_df['distance'] < 0]

In [16]:
close_df = new_df[new_df['distance'] < 1000][new_df['distance'] > 0]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [17]:
far_df = new_df[new_df['distance'] >= 1000]

In [18]:
close_df.count()

from        44
to          44
distance    44
flag        44
corr        44
dtype: int64

In [19]:
far_df.count()

from        174144
to          174144
distance    174144
flag        174144
corr        174144
dtype: int64

In [21]:
far_df[far_df['distance'] < 10000].count()

from        76
to          76
distance    76
flag        76
corr        76
dtype: int64

In [22]:
import scipy.stats as ss
from scipy.stats import ttest_ind

In [28]:
ss.bartlett(close_df['corr'], far_df[far_df['distance'] < 10000]['corr'])

BartlettResult(statistic=0.8066557930644003, pvalue=0.3691108172495128)

In [29]:
ttest_ind(close_df['corr'], far_df[far_df['distance'] < 10000]['corr'], equal_var=True)

Ttest_indResult(statistic=1.9497029545988998, pvalue=0.05358378818298586)

In [34]:
9.341991461440304e-07

9.341991461440304e-07

In [89]:
close_df['corr'].mean()

0.27064174017447945

In [105]:
far_df[far_df['distance'] > 10000][far_df['distance'] < 15000]['corr'].mean()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.2785249566601492

In [31]:
fold_df['flag'].unique()

array(['HH_fold', 'minus_in_plus', 'HH', 'TT_touch'], dtype=object)

In [32]:
close_df['flag'].unique()

array(['HH', 'TT'], dtype=object)

In [33]:
far_df['flag'].unique()

array(['HH', 'TT'], dtype=object)

In [37]:
far_df.count()

from        174144
to          174144
distance    174144
flag        174144
corr        174144
dtype: int64

In [43]:
new_df[new_df['flag'] == 'HH'][new_df['distance'] < 1000].count()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

from        37
to          37
distance    37
flag        37
corr        37
dtype: int64

In [55]:
new_df[new_df['flag'] == 'TT'][new_df['distance'] < 7000][new_df['distance'] > 1000].count()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

from        15
to          15
distance    15
flag        15
corr        15
dtype: int64

In [54]:
new_df[new_df['flag'] == 'HH'][new_df['distance'] < 7000].count()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

from        75
to          75
distance    75
flag        75
corr        75
dtype: int64

In [50]:
new_df[new_df['flag'] == 'TT'].count()

from        91521
to          91521
distance    91521
flag        91521
corr        91521
dtype: int64

In [51]:
new_df[new_df['flag'] == 'HH'].count()

from        82684
to          82684
distance    82684
flag        82684
corr        82684
dtype: int64