In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd

/usr/local/lib/python3.5/dist-packages/pandas/core/computation/check.py:17: UserWarning: The installed version of numexpr 2.4.3 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [2]:
a = pd.read_table('/hdd/Correlation_Disance/gene_location_data/order_chr01-.txt', delim_whitespace=True, header = 'infer')

In [3]:
b = pd.read_table('/hdd/Correlation_Disance/gene_location_data/order_chr01+.txt', delim_whitespace=True, header = 'infer')

In [4]:
b.count()

name2        1844
ExonEnd      1844
ExonStart    1844
dtype: int64

In [5]:
a['max'] = a[['ExonStart', 'ExonEnd']].apply(max, axis=1)
b['max'] = b[['ExonStart', 'ExonEnd']].apply(max, axis=1)

a['min'] = a[['ExonStart', 'ExonEnd']].apply(min, axis=1)
b['min'] = b[['ExonStart', 'ExonEnd']].apply(min, axis=1)

a['mean'] = a[['ExonEnd', 'ExonStart']].mean(axis=1)
b['mean'] = b[['ExonEnd', 'ExonStart']].mean(axis=1)
b[['diff']] = b[['max']].sub(b['min'], axis = 0).div(2)
a[['diff']] = a[['max']].sub(a['min'], axis = 0).div(2)

In [6]:
from IPython.display import clear_output

In [ ]:
sense = pd.DataFrame()
for i in range(1, 500):
    clear_output()
    for k in range(i+1, 500):
        t1 = b.iloc[i]
        t2 = b.iloc[k]
        flag = sense
        t3 = pd.DataFrame([[t1.name2, t2.name2, abs(t2['mean'] - t1['mean']) - (t1['diff'] + t2['diff']), flag]], columns=('from','to', 'distance', 'flag'))
        sense = sense.append(t3)
        print(i, '/', '1844', '|', k, '/', '1844')

53 / 1844 | 54 / 1844
53 / 1844 | 55 / 1844
53 / 1844 | 56 / 1844
53 / 1844 | 57 / 1844
53 / 1844 | 58 / 1844
53 / 1844 | 59 / 1844
53 / 1844 | 60 / 1844
53 / 1844 | 61 / 1844
53 / 1844 | 62 / 1844
53 / 1844 | 63 / 1844
53 / 1844 | 64 / 1844
53 / 1844 | 65 / 1844
53 / 1844 | 66 / 1844
53 / 1844 | 67 / 1844
53 / 1844 | 68 / 1844
53 / 1844 | 69 / 1844
53 / 1844 | 70 / 1844
53 / 1844 | 71 / 1844
53 / 1844 | 72 / 1844
53 / 1844 | 73 / 1844
53 / 1844 | 74 / 1844
53 / 1844 | 75 / 1844
53 / 1844 | 76 / 1844
53 / 1844 | 77 / 1844
53 / 1844 | 78 / 1844
53 / 1844 | 79 / 1844
53 / 1844 | 80 / 1844
53 / 1844 | 81 / 1844
53 / 1844 | 82 / 1844
53 / 1844 | 83 / 1844
53 / 1844 | 84 / 1844
53 / 1844 | 85 / 1844
53 / 1844 | 86 / 1844
53 / 1844 | 87 / 1844
53 / 1844 | 88 / 1844
53 / 1844 | 89 / 1844
53 / 1844 | 90 / 1844
53 / 1844 | 91 / 1844
53 / 1844 | 92 / 1844
53 / 1844 | 93 / 1844
53 / 1844 | 94 / 1844
53 / 1844 | 95 / 1844
53 / 1844 | 96 / 1844
53 / 1844 | 97 / 1844
53 / 1844 | 98 / 1844
53 / 1844 | 99 / 1844
53 / 1844 | 100 / 1844
53 / 1844 | 101 / 1844
53 / 1844 | 102 / 1844
53 / 1844 | 103 / 1844
53 / 1844 | 104 / 1844
53 / 1844 | 105 / 1844
53 / 1844 | 106 / 1844
53 / 1844 | 107 / 1844
53 / 1844 | 108 / 1844
53 / 1844 | 109 / 1844

In [12]:
a.head()

          name2  ExonStart  ExonEnd
1     MIR6859-1      17436    17368
2       FAM138A      36081    34610
3  LOC100996442     267354    91168
4     LOC729737     140566   134772
5  LOC102723897     199860   184877